.scrolled-container {
    overflow: auto;
    display: block;
    width: 600px;
    height: 400px;
    border: 1px solid blue;
    text-align: left;
}

.scrolled-container__list {
    position: relative;
    border: 1px solid black;
}

.item {
    height: 15px
}

.topPlaceholder {
    display: block;
}
/* .anchor {
    height: 5px;
    background-color: red;
} */